.movimientos-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.movimientos-table thead {
  background-color: #e9ecef;
}

.movimientos-table th,
.movimientos-table td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #dee2e6;
}

.movimientos-table tbody tr:hover {
  background-color: #f1f3f5;
}

.descripcion {
  color: #508CA4;
}

.status-pill {
  padding: 5px 10px;
  border-radius: 12px;
  color: #fff;
  font-weight: bold;
}

.estado-aprobado {
  background-color: #28a745; /* Verde */
  border: 1px solid #218838;
}

/* Estado En Proceso (Amarillo) */
.estado-en-proceso {
  background-color: #ffc107; /* Amarillo */
  color: black;
  border: 1px solid #e0a800;
}

/* Estado Rechazado (Rojo) */
.estado-rechazado {
  background-color: #dc3545; /* Rojo */
  border: 1px solid #c82333;
}

.detalles-btn {
  background-color: #BFD7EA;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detalles-btn img {
  width: 20px;
  height: 20px;
}
.rejection-message {
  color: #dc3545;
  font-size: 14px;
  margin-top: 5px;
  font-weight: bold;
}

.rejection-text {
  background-color: #ffdddd;
  color: #b22222;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

